* {
     word-wrap:break-word;
}
 @media only screen and (max-width: 800px) {
     body {
       /* font-size: 1.35em; */
         line-height:1.7em;
         width:100%;
    }
     .h2{
      /*  font-size: 1.6em; */
    }
     small{
      /*  font-size: 100%;
 */    }
      div.container{
     margin: 0 1vw;
}
}
 html {
     font-family: 'Montserrat', sans-serif;
     font-size: 1em;
}
 body{
     width: 90%;
     margin: auto;
     background: #fcffe9;
     line-height: 1.5em;
}
 h1{
     margin: 1em;
     text-align: center;
		 color: rgb(87, 87, 87);
}
 h2{
     color: #355;
     margin-bottom: 0.61em;
     font-size:1.2rem;
     background-color: #f0f3f0;
     font-variant: small-caps;
     line-height: 1.5em;
     padding: 0.8em 0.3em;
     font-weight: 400;
}
 hr{
     margin: 1.52em 0;
     border: 0;
     height: 2px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
 a:link{
     color: #355;
     text-decoration-line: none;
}
 h2+a:link{
     font-weight: 400;
}
 h3{
     margin-top: 0;
     margin-bottom: 0;
     font-size: 1em;
     color: darkred;
     float: left;
     padding-left:0.3em;
}
 small{
     /*! font-size: 80%; */
     float: none;
     margin-left: 2em;
}
 p{
     margin:0.51em 0.3em;
     text-align: justify;
     font-size: 1em;
}
 .container{
     margin: 0 10vw;
}
 img{
    width: 250px;
    height:auto;
}
 
 
@keyframes spinner-donut-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  margin: 1rem;
  border: 0.15rem solid  #ddd;
  border-left: 0.2rem solid  #555;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spinner-donut-anim 1.2s linear infinite;
}
  